.searched-product-container {
  padding: 20px 30px;
  width: 100%;
  /* display: flex;
  flex-wrap: wrap; */
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  justify-content: center;
  gap: 20px;
}
