.searched-product-container {
  padding: 20px 30px;
  width: 100%;
  /* display: flex;
  flex-wrap: wrap; */
  /* max-width: 1400px; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 20px;
}

.searched-product-container > * {
  max-width: 450px;
  width: 100%;
}
