.card-container {
  /* background-color: rgb(4, 4, 4); */
  height: 140px;
  min-width: 140px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  font-size: 24px;
  color: white;
  font-style: italic;
}

.card-container:hover {
  background-color: rgb(4, 4, 4);
  scale: 1.2;
}
.card-container img {
  height: auto;
  width: 80px;
}

@media (max-width: 600px) {
  /* .card-container {
    height: 60px;
    width: 60px;
    font-size: 16px;
  }

  .card-container img {
    height: auto;
    width: 40px;
  } */
}
