.shop-by-category-container {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.category-card-container {
  display: flex;
  gap: 20px;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
}

.category-card {
  position: relative;
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  aspect-ratio: 2 / 3;
  background-image: var(--category-card-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px;
  cursor: pointer;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.category-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}

.category-card:hover::before {
  opacity: 0.5;
}

.category-name {
  color: white;
  font-weight: 600;
  font-size: 2rem;
  opacity: 0;
  z-index: 10;
}

.category-card:hover .category-name {
  opacity: 1;
}
