.nav-container {
  height: 60px;
  width: 100%;
  background-color: rgba(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  position: fixed;
  top: 0px;
  z-index: 999;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.search-box {
  display: flex;
  justify-content: center;
  position: relative;
}

.search-box input {
  height: 40px;
  width: 250px;
  border-radius: 40px;
  border: 0.5px solid rgb(1, 1, 93);
  padding: 5px 10px;
  font-size: 16px;
  color: black;
  background-color: rgba(235, 234, 234, 0.6);
  backdrop-filter: blur(20px);
  outline: 0.5px solid rgba(3, 3, 123, 0.5);
  transition: width 0.3s ease;
}
.search-box input::placeholder {
  color: rgb(186, 183, 183);
}

.search-box input:focus {
  width: 500px;
}

.search-box input:hover {
  background-color: rgb(229, 228, 228);
}

.search-box button {
  height: 30px;
  width: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  border-radius: 100%;
  position: absolute;
  right: 5px;
  top: 5px;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(115, 115, 115);
  backdrop-filter: blur(10px);
}
.search-box button:hover {
  background-color: rgba(248, 248, 248, 0.4);
}

.search-list {
  width: 100%;
  display: none;
  position: fixed;
  top: 60px;
  z-index: 100;
}

.search-list.active-search-list {
  display: block;
}

.right-nav {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.full-screen-search-open-button {
  font-size: 28px;
  color: rgb(11, 0, 93);
  display: none;
  cursor: pointer;
}
.cart-container {
  position: relative;
}
.cart {
  font-size: 28px;
  color: rgb(11, 0, 93);
  cursor: pointer;
}

.cart-items-count {
  position: absolute;
  font-size: 12px;
  color: white;
  height: 17px;
  width: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;

  top: -10px;
  right: -5px;
  background-color: rgb(7, 0, 79);
}

.full-screen-search-box {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.full-screen-search-box input {
  width: 100%;
  height: 100%;
  padding: 10px 70px;
  border: 0.5px solid rgb(1, 1, 93);
  font-size: 16px;
  color: black;
  background-color: rgba(235, 234, 234);
  backdrop-filter: blur(20px);
  outline: 0.5px solid rgba(3, 3, 123, 0.5);
}
.full-screen-search-box button {
  height: 40px;
  font-size: 20px;
  padding: 10px;
  border-radius: 100%;

  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(115, 115, 115);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.full-screen-search-box .search-button {
  position: absolute;
  right: 20px;
}
.full-screen-search-box .search-close-button {
  position: absolute;
  background-color: transparent;
  left: 20px;
}

.no-result {
  width: 100%;
  background-color: white;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

@media (max-width: 900px) {
  .search-box {
    display: none;
  }
  .full-screen-search-open-button {
    display: block;
  }

  .search-box input:focus {
    width: 100%;
  }
}
