.search-list-container {
  /* height: 300px; */
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
  background-color: white;
  display: flex;

  justify-content: center;
  gap: 20px;
  padding: 20px;
  box-shadow: 2px 2px 12px rgba(212, 212, 212, 0.4);
}

@media (max-width: 900px) {
  .search-list-container {
    padding: 10px 20px;
    justify-content: start;
    /* padding: 0 20px; */
  }
}
