.product-list-main-container {
  width: 100%;
  /* max-width: 1400px; */
  padding: 10px 30px;
  margin: 0 auto;
}

.product-list-container {
  width: 100%;
  padding-top: 20px;
  /* max-width: 1400px; */
  /* margin: 0 auto; */
  /* padding: 10px 30px; */
  /*
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 30px;
}
