.product-card-container {
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  /* height: 380px;
  width: 300px; */

  /* background-color: blue; */
}

.product-image {
  width: 100%;
  overflow: hidden;
  /* height: 280px; */
  /* background-color: blue; */
}

.product-image img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.product-image img:hover {
  scale: 1.2;
}

.product-card-container p,
h4 {
  padding: 0 10px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: normal;
  color: gray;
}
.product-card-container h4 {
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding: 10px;
}
.product-card-container span {
  padding: 10px;
  font-weight: normal;
  font-size: 16px;
  color: red;
}
