.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100px;
  gap: 20px;
  padding: 20px;
  background-color: white;
}

.contact-us {
  font-size: 20px;
  font-weight: bold;
}

.social-media {
  display: flex;

  gap: 30px;
}
.social-media-icon {
  color: black;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}
.social-media-icon:hover {
  background-color: rgb(30, 30, 30);
  color: white;
}
